{
  box-sizing: border-box;
  margin: 10%;
  padding: inherit;
  background-color: #0066ff;
}
head{
  font-size: 48px;
  font-family: 'Philosopher', sans-serif;
  background-color: #0066ff;
  color: white;
  justify-content: center;
  align-content: center;
}
h1{
  font-size: 48px;
  font-family: 'Philosopher', sans-serif;
  background-color: #0066ff;
  color: white;
  justify-content: center;
  align-content: center;
}
h2{
  font-size: 36px;
  font-family: 'Philosopher', sans-serif;
  background-color: #0066ff;
  color: white;
}
p{
    font-family: "Philosopher", sans-serif;
    background-color: #0066ff;
    color: white;
}
body{
    font-size: 24px;
    display: block;
    margin: auto;
    font-family: "Philosopher", sans-serif;
    background-color: #0066ff;
    color: white
}
flex-container{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 40px;
    font-size: 24px;
    font-family: serif;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #0066ff;
    color: white;
    border: 10px;
    flex-basis: content;
}
figcaption{
  font-size: 16px;
  font-family: sans-serif;
  justify-content: flex-start;
  color: black;
}
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
}
@media screen and (max-width: 400px) {
      div.example {
        font-size: 20px;
}
